#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius:5px;
    background-color:#eadca6;
    font-family: Tahoma;
    text-align: center;
}

#title
{
  margin: 5%;
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

#img-div
{
  /*background-color: #e2c275;*/
  display: inline-block;
  text-align: center;
  border: 30px solid;
  border-color :#e2c275;

}

figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

img-caption{
  display: block;
}

p{
  font-size: 1em;
}


ul{
  display: inline-block;
  text-align: justify;
  list-style: inside;
}

li{
  display: list-item;
  margin: 16px 0;

}

#tribute-info
{
  text-align: center;
}
